In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("../datos/2019censo.csv", low_memory=False)

# BIG DROP
# df.drop(["ID_Bcn_2019", 'ID_Bcn_2016', 'Codi_Activitat_2016', 
#          "Nom_Principal_Activitat",
#          'SN_Servei_Degustacio', 'SN_Obert24h', 'SN_Mixtura', 'SN_Carrer', 
#          'SN_Mercat', 'SN_Galeria', 'SN_CComercial','SN_Eix', 'Nom_Eix',
#          'Planta', 'Porta', 'Num_Policia_Inicial', 'Lletra_Inicial','SN_Oci_Nocturn', 'SN_Coworking',
#          'Num_Policia_Final', 'Lletra_Final', 'Solar',
#          'Codi_Parcela', 'Codi_Illa', 'Seccio_Censal',
#          'Referencia_cadastral', 'Data_Revisio', "Codi_Grup_Activitat", "Codi_Activitat_2019",
#          "Nom_Mercat","Nom_Galeria", "Nom_CComercial",
#          'Codi_Sector_Activitat'], axis=1, inplace=True)

# CORTANDO EL DATAFRAME A COLUMNAS RELEVANTES PARA ESTO
df = df[["ID_Bcn_2019", "Nom_Local", "Nom_Activitat", "Nom_Grup_Activitat", "Nom_Sector_Activitat",]]

df.head(10)

,ID_Bcn_2019,Nom_Local,Nom_Activitat,Nom_Grup_Activitat,Nom_Sector_Activitat
0,1075454,SORIGUE,Serveis a les empreses i oficines,Altres,Serveis
1,1075453,CEJIDOS SIVILA S.A,Activitats emmagatzematge,Altres,Serveis
2,1075451,QUALITY ESPRESO,Serveis a les empreses i oficines,Altres,Serveis
3,1075449,CLD,Administració,Altres,Altres
4,1075448,"CATALANA DEL BUTANO,S.A",Activitats de transport,Altres,Serveis
5,1075447,JOSE MESTRES CARCERENY,Activitats emmagatzematge,Altres,Serveis
6,1075446,TACSA,Activitats de transport,Altres,Serveis
7,1069815,CITROEN,Vehicles,Automoció,Comerç al detall
8,1074351,LA VIÑA,Restaurants,"Restaurants, bars i hotels (Inclòs hostals, pe...",Serveis
9,1074376,GILABERT FUSTES,Material equipament llar,Parament de la llar,Comerç al detall

In [16]:
df_altres = df.loc[(df['Nom_Activitat'] == "Altres") | (df['Nom_Activitat'] == "Sense informació") | (df['Nom_Activitat'] == 'Altres ( per exemple VENDING)') | (df['Nom_Activitat'] == 'altres')]
df_altres

,ID_Bcn_2019,Nom_Local,Nom_Activitat,Nom_Grup_Activitat,Nom_Sector_Activitat
12,1077622,SN,Altres,Quotidià alimentari,Comerç al detall
25,1077484,SN,Altres,Quotidià alimentari,Comerç al detall
27,1077481,SN,Altres,Quotidià alimentari,Comerç al detall
28,1077480,SN,Altres,Quotidià alimentari,Comerç al detall
38,1077595,SN,Altres,Quotidià alimentari,Comerç al detall
...,...,...,...,...,...
80517,1014671,LA TIENDA DEL ESPIA,Altres,Altres,Comerç al detall /Engròs
80519,1014651,ANTONIO BARRENO FUSTERIA EBANISTERIA,Sense informació,Grup no definit,Sense informació
80533,1014828,SN,Sense informació,Grup no definit,Sense informació
80534,1014783,SN,Sense informació,Grup no definit,Sense informació
80542,1057725,SN,Sense informació,Grup no definit,Sense informació

In [17]:
df_altres.Nom_Sector_Activitat.value_counts()

Sense informació            11164
Comerç al detall              682
Comerç al detall /Engròs      682
Altres                        385
Serveis                       356
Name: Nom_Sector_Activitat, dtype: int64

In [18]:
df_altres.Nom_Grup_Activitat.value_counts()

Grup no definit                                                   11164
Altres                                                             1391
Quotidià alimentari                                                 682
Restaurants, bars i hotels (Inclòs hostals, pensions i fondes)       32
Name: Nom_Grup_Activitat, dtype: int64

In [19]:
df_altres

,ID_Bcn_2019,Nom_Local,Nom_Activitat,Nom_Grup_Activitat,Nom_Sector_Activitat
12,1077622,SN,Altres,Quotidià alimentari,Comerç al detall
25,1077484,SN,Altres,Quotidià alimentari,Comerç al detall
27,1077481,SN,Altres,Quotidià alimentari,Comerç al detall
28,1077480,SN,Altres,Quotidià alimentari,Comerç al detall
38,1077595,SN,Altres,Quotidià alimentari,Comerç al detall
...,...,...,...,...,...
80517,1014671,LA TIENDA DEL ESPIA,Altres,Altres,Comerç al detall /Engròs
80519,1014651,ANTONIO BARRENO FUSTERIA EBANISTERIA,Sense informació,Grup no definit,Sense informació
80533,1014828,SN,Sense informació,Grup no definit,Sense informació
80534,1014783,SN,Sense informació,Grup no definit,Sense informació
80542,1057725,SN,Sense informació,Grup no definit,Sense informació

In [20]:
df_altres.drop(columns = ["Nom_Activitat"], inplace = True)

/tmp/ipykernel_16395/516662150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_altres.drop(columns = ["Nom_Activitat"], inplace = True)

In [21]:
df_altres.loc[df_altres["Nom_Grup_Activitat"] == "Altres",
              "Nom_Grup_Activitat"] = df_altres.loc[df_altres["Nom_Grup_Activitat"] == "Altres",
                                                   "Nom_Sector_Activitat"]

In [24]:
df_altres

,ID_Bcn_2019,Nom_Local,Nom_Grup_Activitat,Nom_Sector_Activitat
12,1077622,SN,Quotidià alimentari,Comerç al detall
25,1077484,SN,Quotidià alimentari,Comerç al detall
27,1077481,SN,Quotidià alimentari,Comerç al detall
28,1077480,SN,Quotidià alimentari,Comerç al detall
38,1077595,SN,Quotidià alimentari,Comerç al detall
...,...,...,...,...
80517,1014671,LA TIENDA DEL ESPIA,Comerç al detall /Engròs,Comerç al detall /Engròs
80519,1014651,ANTONIO BARRENO FUSTERIA EBANISTERIA,Grup no definit,Sense informació
80533,1014828,SN,Grup no definit,Sense informació
80534,1014783,SN,Grup no definit,Sense informació
80542,1057725,SN,Grup no definit,Sense informació

In [27]:
df_altres.shape

(13269, 4)

In [28]:
df_altres_fixed = df_altres

In [29]:
df_altres_fixed["Nom_Activitat"] = df_altres_fixed["Nom_Grup_Activitat"]

/tmp/ipykernel_16395/1430773535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_altres_fixed["Nom_Activitat"] = df_altres_fixed["Nom_Grup_Activitat"]

In [30]:
df_altres_fixed

,ID_Bcn_2019,Nom_Local,Nom_Grup_Activitat,Nom_Sector_Activitat,Nom_Activitat
12,1077622,SN,Quotidià alimentari,Comerç al detall,Quotidià alimentari
25,1077484,SN,Quotidià alimentari,Comerç al detall,Quotidià alimentari
27,1077481,SN,Quotidià alimentari,Comerç al detall,Quotidià alimentari
28,1077480,SN,Quotidià alimentari,Comerç al detall,Quotidià alimentari
38,1077595,SN,Quotidià alimentari,Comerç al detall,Quotidià alimentari
...,...,...,...,...,...
80517,1014671,LA TIENDA DEL ESPIA,Comerç al detall /Engròs,Comerç al detall /Engròs,Comerç al detall /Engròs
80519,1014651,ANTONIO BARRENO FUSTERIA EBANISTERIA,Grup no definit,Sense informació,Grup no definit
80533,1014828,SN,Grup no definit,Sense informació,Grup no definit
80534,1014783,SN,Grup no definit,Sense informació,Grup no definit
80542,1057725,SN,Grup no definit,Sense informació,Grup no definit

In [32]:
df_altres_fixed.ID_Bcn_2019.nunique() # SIRVE PARA MERGEAR

13269

In [42]:
df_altres_fixed["Nom_Grup_Activitat"].value_counts() 
# quedan muchos sin definir, pero no nos importa porque igual sirven para
# mostrar que hay en efecto negocios en ese lugar

Grup no definit                                                   11164
Quotidià alimentari                                                 682
Comerç al detall /Engròs                                            682
Altres                                                              385
Serveis                                                             324
Restaurants, bars i hotels (Inclòs hostals, pensions i fondes)       32
Name: Nom_Grup_Activitat, dtype: int64

In [ ]:
noms_act = df.Nom_Activitat.to_list()
noms_act = list(dict.fromkeys(noms_act))
noms_act